.table {
    --font-size: 10px;
}

.table {
    font-size: var(--font-size);
}

@media (min-width: 460px) {
    .table {
        --font-size: 12px;
    }
}

@media (min-width: 768px) {
    .table {
        --font-size: 14px;
    }
}

@media (min-width: 992px) {
    .table {
        --font-size: 16px;
    }
}
